:root {
  --primary-color: #2C2C2C  ;
  --secondary-color: #1E1E1E;
  --tertiary-color: #444444;

  --primary-font: 'Inter', sans-serif;

  --primary-font-color: #FFFFFF;
  --secondary-font-color: #7B7B7B;
}

body {
  margin: 0;

  font-family: Inter, sans-serif;
  letter-spacing: 0;

  background-color: var(--primary-color);

  overflow-x: hidden;
}
