.CardsSettings-background {
    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
}

.CardsSettings {
    width: 80vw;
    height: 80vh;
    /*max-height: 500px;*/

    position: absolute;
    top: 10vh;
    left: 10vw;

    display: flex;
    flex-direction: column;

    background-color: var(--primary-color);
    color: var(--primary-font-color);

    border-radius: 10px;
}

.CardsSettings-header {
    background-color: var(--secondary-color);

    height: 60px;
    line-height: 60px;

    border-radius: 10px 10px 0 0;
    border-color: var(--tertiary-color);
    border-style: solid;
    border-width: 0 0 1px 0;
}

.CardsSettings-header h2 {
    margin: 0;
}

.CardsSettings form {
    height: calc(100vh - 61px);

    padding: 25px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;

    border-radius: 0 0 10px 10px;
}

.CardsSettings-settings {
    width: 100%;

    display: flex;
    flex-direction: row;
}

.CardsSettings-settings label {
    width: 20%;

    text-align: left;
    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.CardsSettings-settings input,
.CardsSettings-settings select,
.CardsSettings-settings textarea {
    width: 80%;

    padding: 5px;

    background-color: var(--secondary-color);
    color: var(--primary-font-color);

    border: none;
    border-radius: 5px;
}

.CardsSettings-settings input:focus,
.CardsSettings-settings select:focus,
.CardsSettings-settings textarea:focus {
    outline: none;
}

form button {
    width: 100%;

    padding: 10px;
    margin-top: auto;

    background-color: var(--secondary-color);
    color: var(--primary-font-color);

    border: none;
    border-radius: 5px;
}

form button:hover {
    background-color: var(--tertiary-color);
}
