.App {
  text-align: center;

  display: flex;
  flex-direction: row;

  min-height: 100vh;
}

.App-header {
  padding: 25px 0;

  display: flex;
  flex-direction: column;

  background-color: var(--secondary-color);
  color: var(--primary-font-color);

  min-width: 60px;
  border-color: var(--tertiary-color);
  border-style: solid;
  border-width: 0 1px 0 0;
}

.App-header h1 {
  margin: 0;

  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: left;
  line-height: 60px;
}

.App-body {
  display: flex;
  flex-direction: column;
}
